* {
    /* outline: 1px dotted red; */
}

body {
    margin: 0px;
    background-color: burlywood;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.non-action-container {
    border:  5px solid brown;
    width: 450px;
    margin: auto;
}

.location-text {
    border: 2px solid black;
    padding: 10px;
    background-color: white;
}

.stats {
    display: flex;
    justify-content: space-between;
}

.playerStats {
    border: 2px solid black;
    padding: 10px;
    background-color: white;
}

.monsterStats {
    border: 2px solid black;
    padding: 10px;
    background-color: lightpink;
}

ul {
    list-style-type: none;
    padding: 0px;
}

.context {
    background-color: white;
    margin: 0px;
    border: 2px solid black;
    padding: 10px;
}

.inventory {
    border: 2px solid black;
    margin-top: 15px;
    padding: 10px;
    background-color: white;
}

button {
    border-radius: 15px;
    margin-left: 5px;
}

.weapon-buttons {
    float: right;
}

.action-container {
    margin: 10px auto 0px auto;
}

.action-buttons {
    width: 200px;
    margin-left: 10px;
}
