* {
    /* outline: 1px dotted red; */
}

body {
    margin: 20px;
    /* background-color: burlywood; */
    background-color: darkblue;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.non-action-container {
    /* border:  5px solid brown; */
    border: 5px solid grey;
    width: 450px;
    margin: auto;
}

.location-header {
    display: flex;
    border: 2px solid black;
    padding: 10px;
    background-color: white;
    justify-content: space-between;
}

.location-text {
    
}

.location-strong {
    color: red;
}

.stats {
    display: flex;
    justify-content: space-between;
    background-color: grey;
}

.playerStats {
    border: 2px solid black;
    padding: 10px;
    background-color: lightcyan;
    width: 39%;
}

.monsterStats {
    border: 2px solid black;
    padding: 10px;
    background-color: lightpink;
    width: 50%;
}

ul {
    list-style-type: none;
    padding: 0px;
}

.context {
    margin: 0px;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
}

.inventory {
    border: 1px solid black;
    padding: 10px;
    background-color: white;
}

button {
    border-radius: 15px;
    margin-left: 5px;
    margin-top: -5px;
    height: 25px;
}

.weapon-buttons {
    float: right;
}

.action-container {
    margin: 20px auto 0px auto;
}

.action-buttons {
    width: 200px;
    margin-left: 10px;
}
